In [1]:
#importing the Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
#Now we are going to convert all categorial data columns as Numerical numbers using One Hot Encoding 
dataset=pd.get_dummies(dataset,drop_first=True) # Nominal data to adrenal data get, while giving drop_first=True function it'll drop extra column.
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
dataset.columns #It'll show all dataset columns. we can use it for further process related.

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [5]:
dataset["classification_yes"].value_counts() #value_counts() means it'll show all unique entries of the dataset, and all unique entries based repeated counts like(0-257 and 1-143).
#Here we are finding how many of them have 0 and 1 entry,
#Classifictaion experts always first ask, 1.in our target varaiable"Purchased" how many class we are going to classify. 2. Data is balance or inbalanced.
#Balanced means data will be without partiality both will be like equal number(0 -250 and 1-250). balanced dataset means without partiality it'll learn(Ex: student 1 given 1/2 time to learn with 1 material, student 2 learn with 5 material and  day time provided, both of then not in balanced state.)
#For below statement(0 learn -150 entries and 1 learn -249 entries) 0 and 1 value have difference so it's called inbalance data. Each company have inbalanced data handle related have some parametersor percentage. if it's inbalanced within 5% means they said ok, if inbalanced data less than 5% means they will move to some othe stm, purely it's based on problem stmt and requirement.

1    249
0    150
Name: classification_yes, dtype: int64

In [6]:
#Input and output split
#Data was already preprocessed. Now we are going to perform Input and output variables split
indep=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']] 
indep #Now 'Age', 'EstimatedSalary', 'Gender_Male' column values seperately assigned into independent varaiable, Independent means input, Dependent means output.

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [7]:
#Now 'charges' column value seperately assigned into dependent varaiable, dependent means output.
dep=dataset[["classification_yes"]] #Now charges value seperately assigned into dependent varaiable,
dep
#Now we got seperatley independent and dependent varaiables. now sucessfully splited input and output

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [8]:
#Input and output split
#Data was already preprocessed. Now we are going to perform Input and output variables split
indep=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']] 
indep #Now input column values seperately assigned into independent varaiable, Independent means input, Dependent means output.

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [9]:
#Now 'charges' column value seperately assigned into dependent varaiable, dependent means output.
dep=dataset[["classification_yes"]] #Now charges value seperately assigned into dependent varaiable,
dep
#Now we got seperatley independent and dependent varaiables. now sucessfully splited input and output

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [10]:
indep.shape

(399, 27)

In [11]:
#Split Trainset and Testset. 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep, dep, test_size=1/3, random_state=0) #No varaiable assigned here.here parallely split input and output based on 70:30 ratio.
#we are using _(underscore) instead of space into vraiables(X_train,X_test,y_train,y_test)
#X means input, y means output, X input based on trainset and testset(X_train,X_test) and also y was output based trainset and testset(y_train,y_test) 
#if you want to use sklearn library based on trainset and testset you have to split it like this four variables(X_train,X_test,y_train,y_test).
#As of now compltetd Trainset and Testset split.
#Trainset and Testset split is important for classification GridSearch(). many classification report, confusion_matrix,Type1Error and Type2Error all we have to seen. without trinset and testset split we can't prepare statistical report. score based only models will create.

In [12]:
#Standardiztion Technique
#Now we are going try with standardization technique. we will see how it working with standardization technique. where we seperated Trainset and testset center we are going to try.
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler() #calling StandardScaler and assign to sc variable and function created
X_train=sc.fit_transform(X_train) #X_train varaiable sc(now algorithm in sc varaiable) "fit_transform(X_train)" -to find means value and standarization vale calculate for X_train and give that value.
X_test=sc.transform(X_test) #X_test varaiable sc(now algorithm in sc varaiable) "transform(X_test)" -"while using 'fit' means value and standarization vale calculate for X_train "which we calculated for (X_train) same like that it'll use same means value and standarization calculate value for X_test and gie that value.
#StandardScaler means defined range(-2 to +2)values, if we want to convert dataset values into defined range means(Example -2 to +2) without inormation loss. we can use this StandardScaler formula and convert for the same.

In [13]:
#Model Creation
#ML algorithm all are provided by sklearn, we are creting this Model using trainset and tesset varaiable. 
from sklearn.model_selection import GridSearchCV #sklearn.model_selection import GridSearchCV, here GridSearchCV means create table and validate all the parameter values in multiple angle/combination. CV means cross validation.
#Using GridSerachCV(CV-cross validation) means create table in box and check all combination of parameters values and providing results in multiple angle like above.
#GridSerachCV--cross validation going to happen and it's related Gridsearch also going to perform here
from sklearn.ensemble import RandomForestClassifier # While calling, this line loaded into memory. here SVR may be function or class. In this line SVR considered as class
param_grid={'criterion':['gini','entropy'],
           'max_features': ['auto','sqrt','log2'],
            'n_estimators':[10,100]}
#playable paramerters using to check correct combination and provide result in tabular format.param_grid varaiable created and {} curley brace( {} dictionary) we can call it as dictionary. kernal means key('kernal':'rbf','poly','sigmoid','linear') and C means(10,100,1000,2000,3000).
#We have defined all the playable parameter values. Now going to call this model.
grid=GridSearchCV(RandomForestClassifier(),param_grid,refit=True, verbose=3,n_jobs=1,scoring='f1') #Here we calling GridSearchCV() and here we are passing SVR and passing parameters.refit=True means which one is best model take it as last model(). GridSearchCV() final output use it for best model. 'refit=False' means it will take last combination as (c:300, gmma:scale) like that only it'll take. 
#First four lines call it as procedure load. inside grid varaiable all models are there
#fitting the model for grid search
grid.fit(X_train,y_train) #fit function we are calling it using access operator, now passing splited trainset input and output.
#while executing above step fit() method model has been created. we got total model 120 model combination created.n_jobs=-1 means parallely running all models. once executed this it'll show all the executed parameter details.
#All models saved under grid varaiable.

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

Fitting 3 folds for each of 12 candidates, totalling 36 fits
[CV] criterion=gini, max_features=auto, n_estimators=10 ..............
[CV]  criterion=gini, max_features=auto, n_estimators=10, score=0.982, total=   0.1s
[CV] criterion=gini, max_features=auto, n_estimators=10 ..............
[CV]  criterion=gini, max_features=auto, n_estimators=10, score=0.943, total=   0.0s
[CV] criterion=gini, max_features=auto, n_estimators=10 ..............
[CV]  criterion=gini, max_features=auto, n_estimators=10, score=0.982, total=   0.0s
[CV] criterion=gini, max_features=auto, n_estimators=100 .............
[CV]  criterion=gini, max_features=auto, n_estimators=100, score=0.982, total=   0.1s
[CV] criterion=gini, max_features=auto, n_estimators=100 .............
[CV]  criterion=gini, max_features=auto, n_estimators=100, score=0.953, total=   0.1s
[CV] criterion=gini, max_features=auto, n_estimators=100 .............

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV]  criterion=gini, max_features=auto, n_estimators=100, score=0.982, total=   0.1s
[CV] criterion=gini, max_features=sqrt, n_estimators=10 ..............
[CV]  criterion=gini, max_features=sqrt, n_estimators=10, score=0.982, total=   0.0s
[CV] criterion=gini, max_features=sqrt, n_estimators=10 ..............
[CV]  criterion=gini, max_features=sqrt, n_estimators=10, score=0.953, total=   0.0s
[CV] criterion=gini, max_features=sqrt, n_estimators=10 ..............
[CV]  criterion=gini, max_features=sqrt, n_estimators=10, score=0.982, total=   0.0s
[CV] criterion=gini, max_features=sqrt, n_estimators=100 .............
[CV]  criterion=gini, max_features=sqrt, n_estimators=100, score=0.982, total=   0.1s
[CV] criterion=gini, max_features=sqrt, n_estimators=100 .............

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV]  criterion=gini, max_features=sqrt, n_estimators=100, score=0.963, total=   0.1s
[CV] criterion=gini, max_features=sqrt, n_estimators=100 .............
[CV]  criterion=gini, max_features=sqrt, n_estimators=100, score=0.982, total=   0.2s
[CV] criterion=gini, max_features=log2, n_estimators=10 ..............
[CV]  criterion=gini, max_features=log2, n_estimators=10, score=0.982, total=   0.0s
[CV] criterion=gini, max_features=log2, n_estimators=10 ..............

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV]  criterion=gini, max_features=log2, n_estimators=10, score=0.933, total=   0.0s
[CV] criterion=gini, max_features=log2, n_estimators=10 ..............
[CV]  criterion=gini, max_features=log2, n_estimators=10, score=0.982, total=   0.0s
[CV] criterion=gini, max_features=log2, n_estimators=100 .............
[CV]  criterion=gini, max_features=log2, n_estimators=100, score=0.991, total=   0.1s
[CV] criterion=gini, max_features=log2, n_estimators=100 .............
[CV]  criterion=gini, max_features=log2, n_estimators=100, score=0.963, total=   0.1s
[CV] criterion=gini, max_features=log2, n_estimators=100 .............
[CV]  criterion=gini, max_features=log2, n_estimators=100, score=0.982, total=   0.1s
[CV] criterion=entropy, max_features=auto, n_estimators=10 ...........
[CV]  criterion=entropy, max_features=auto, n_estimators=10, score=0.982, total=   0.0s
[CV] criterion=entropy, max_features=auto, n_estimators=10 ...........
[CV]  criterion=entropy, max_features=auto, n_estimators=10, score=0.953, total=   0.0s
[CV] criterion=entropy, max_features=auto, n_estimators=10 ...........
[CV]  criterion=entropy, max_features=auto, n_estimators=10, score=0.982, total=   0.0s
[CV] criterion=entropy, max_features=auto, n_estimators=100 ..........

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV]  criterion=entropy, max_features=auto, n_estimators=100, score=0.982, total=   0.1s
[CV] criterion=entropy, max_features=auto, n_estimators=100 ..........
[CV]  criterion=entropy, max_features=auto, n_estimators=100, score=0.963, total=   0.1s
[CV] criterion=entropy, max_features=auto, n_estimators=100 ..........

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV]  criterion=entropy, max_features=auto, n_estimators=100, score=0.982, total=   0.1s
[CV] criterion=entropy, max_features=sqrt, n_estimators=10 ...........
[CV]  criterion=entropy, max_features=sqrt, n_estimators=10, score=0.973, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, n_estimators=10 ...........
[CV]  criterion=entropy, max_features=sqrt, n_estimators=10, score=0.963, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, n_estimators=10 ...........
[CV]  criterion=entropy, max_features=sqrt, n_estimators=10, score=0.991, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, n_estimators=100 ..........
[CV]  criterion=entropy, max_features=sqrt, n_estimators=100, score=0.982, total=   0.1s
[CV] criterion=entropy, max_features=sqrt, n_estimators=100 ..........

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV]  criterion=entropy, max_features=sqrt, n_estimators=100, score=0.963, total=   0.1s
[CV] criterion=entropy, max_features=sqrt, n_estimators=100 ..........
[CV]  criterion=entropy, max_features=sqrt, n_estimators=100, score=0.982, total=   0.1s
[CV] criterion=entropy, max_features=log2, n_estimators=10 ...........
[CV]  criterion=entropy, max_features=log2, n_estimators=10, score=0.973, total=   0.0s
[CV] criterion=entropy, max_features=log2, n_estimators=10 ...........
[CV]  criterion=entropy, max_features=log2, n_estimators=10, score=0.972, total=   0.0s
[CV] criterion=entropy, max_features=log2, n_estimators=10 ...........
[CV]  criterion=entropy, max_features=log2, n_estimators=10, score=0.982, total=   0.0s
[CV] criterion=entropy, max_features=log2, n_estimators=100 ..........

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV]  criterion=entropy, max_features=log2, n_estimators=100, score=0.982, total=   0.1s
[CV] criterion=entropy, max_features=log2, n_estimators=100 ..........
[CV]  criterion=entropy, max_features=log2, n_estimators=100, score=0.963, total=   0.1s
[CV] criterion=entropy, max_features=log2, n_estimators=100 ..........

C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[CV]  criterion=entropy, max_features=log2, n_estimators=100, score=0.982, total=   0.1s

[Parallel(n_jobs=1)]: Done  36 out of  36 | elapsed:    2.2s finished
C:\Users\Kathirvel\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1', verbose=3)

In [14]:
#print the best parameter after tunning
#print(grid.best_params_)
re=grid.cv_results_  #grid.cv_results() value stored in re varaiable. #here grid.cv_results() in this table stroed in dictionary format. readability will be poor,if it'sin table format means it will be good.
#print(re)
grid_predictions=grid.predict(X_test)  #grid_predictions(GridSearch()). Gridsearch  again used training dataset to display best parameter.

In [15]:
#print classification report
#Classification means we have to use confusion_matrix
from sklearn.metrics import confusion_matrix #using confusion_matrix instead of r2_score function.
cm=confusion_matrix(y_test,grid_predictions) #confusion_matrix assigned to cm variable, now passing Actual output(y_test) and predicted output(grid_predictions)
#Test means always war between Actual data(y_test) and Evaluated data(grid_predictions)

In [16]:
from sklearn.metrics import classification_report #using this confusion_matrix function going to find classification_report value.
clf_report=classification_report(y_test,grid_predictions) #under classification_report war against( Actual data(y_test) and Predicted data(y_pred))
#1.What is overall performance of RandomeForest- 0.98(98%)
#2.What kind of problem statement- Classification problem statement
#3.What is overall performance of your Model--Accuracy is overall percentage-- 0.98(98%)
#4.What is the Recall of 0-- 0.98(98%)
#5.What is the correct performance of CKD? --0.99(99%)
#6.Purchased-Correctly classified as well as wrongly classified-->(Model telling about whole value including wrongly classified)--0.99(99%)
#7.What is the f1-score of 0- 0.98(98%)
#8.What is the f1-score of 1- 0.99(99%)
#9.MacroAvg value for Precision--0.98(98%)
#10.MacroAvg value for Recall--0.98(98%)
#11.MacroAvg value for F1-Score--0.98(98%)
#12.Weighted average value for Precision--0.98(98%)
#13.Weighted average value for Recall--0.98(98%)
#14.Weighted average value for F1-Score--0.98(98%)
#15.Support value(Testdata count) -133
#16.It's Balanced dataset/Imbalanced dataset--balanced dataset

In [17]:
#Just here showing for f1_score otherwise you can refer f1_score value in classification report also
from sklearn.metrics import f1_score #using this confusion_matrix function going to find classification_report value.
f1_macro=f1_score(y_test,grid_predictions,average='weighted') #under classification_report war against( Actual data(y_test) and Predicted data(y_pred))
print("The f1_macro value for best parameter{}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter{'criterion': 'gini', 'max_features': 'log2', 'n_estimators': 100}: 0.9849624060150376

In [18]:
print("The confusion matrix:",cm)

The confusion matrix: [[50  1]
 [ 1 81]]

In [19]:
print("The report:\n", clf_report) #with help of confusion_matrix you can answer nearly 7 questions(precision,recall,f-score,support)
#using confusion_matrix you can easily solve deep learning concepts. DL maximum classification stmt, where classifiction matrix is ther confusion_matrix will follow
#To handle imbalanced data, instaed of deciding decision based on Accuracy. precisionand Recall based on decision making is best for imbalanced data. even though balanced or imbalanced data means precision and Recall,f1-score all are in increase ration means take it for final Model plus consider Type1Error and Type2Error.
#Example if allmodels giving 99% accuracy how to handle that kind of situation, we will see it in future

The report:
               precision    recall  f1-score   support

           0       0.98      0.98      0.98        51
           1       0.99      0.99      0.99        82

    accuracy                           0.98       133
   macro avg       0.98      0.98      0.98       133
weighted avg       0.98      0.98      0.98       133

In [20]:
from sklearn.metrics import roc_auc_score #using this confusion_matrix function going to find classification_report value.
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1]) #under classification_report war against( Actual data(y_test) and grid.predict_proba(X_test)-it's inbuild function, for this roc porbability need to pass as input, for this ration only it'll take grid.predict_proba(X_test)[:,1])-->[:,1]--> : means rows and 1 means first column (All rows in 1 column take it for probability)
#roc_auc_score value 1 means we came to know our Model performing well like that, 
#receiver operative curve/charactristics(roc)_area under curve(auc). It'll be in L shape(lI)and it's curve will be like this means 100% our classification was correct, incase area very small means our classification not performed well.
#Here war between true positive rate(TPR) and also false postive rate(FPT).

0.9997608799617407

In [21]:
print("The report:\n", clf_report) #with help of confusion_matrix you can answer nearly 7 questions(precision,recall,f-score,support)
#using confusion_matrix you can easily solve deep learning concepts. DL maximum classification stmt, where classifiction matrix is ther confusion_matrix will follow
#To handle imbalanced data, instaed of deciding decision based on Accuracy. precisionand Recall based on decision making is best for imbalanced data. even though balanced or imbalanced data means precision and Recall,f1-score all are in increase ration means take it for final Model plus consider Type1Error and Type2Error.
#Example if allmodels giving 99% accuracy how to handle that kind of situation, we will see it in future

The report:
               precision    recall  f1-score   support

           0       0.98      0.98      0.98        51
           1       0.99      0.99      0.99        82

    accuracy                           0.98       133
   macro avg       0.98      0.98      0.98       133
weighted avg       0.98      0.98      0.98       133

In [22]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.024335,0.016781,0.004667,1.247362e-03,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.982143,0.943396,0.982143,0.969179,0.018282,11
1,0.090339,0.002357,0.012667,2.054862e-03,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.982456,0.953271,0.982143,0.972588,0.013698,8
2,0.014001,0.004243,0.002667,4.714266e-04,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.982143,0.953271,0.982143,0.972483,0.013623,9
3,0.125007,0.026282,0.012001,2.160348e-03,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.982143,0.962963,0.982143,0.975726,0.009050,6
4,0.016001,0.001414,0.003667,1.247235e-03,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.981818,0.933333,0.982143,0.965703,0.022954,12
5,0.086005,0.000000,0.011334,1.885650e-03,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.991150,0.962963,0.982143,0.978739,0.011775,1
6,0.011334,0.000471,0.002333,4.715390e-04,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.982143,0.953271,0.982143,0.972483,0.013623,9
7,0.093005,0.002161,0.010667,9.429093e-04,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.982456,0.962963,0.982143,0.975830,0.009125,3
8,0.011667,0.000943,0.002667,4.713704e-04,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.973451,0.962963,0.990991,0.975745,0.011547,5
9,0.093005,0.001633,0.010001,1.123916e-07,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.982456,0.962963,0.982143,0.975830,0.009125,3
10,0.011667,0.000471,0.002333,4.714266e-04,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.973451,0.972477,0.982143,0.976001,0.004337,2
11,0.091339,0.001247,0.011001,8.166321e-04,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.982143,0.962963,0.982143,0.975726,0.009050,6

In [23]:
age=float(input("Age:"))
bp=float(input("Bp:"))
al=int(input("AL:"))
su=float(input("SU:"))
bgr=int(input("BGR:"))
bu=float(input("BU:"))
sc=float(input("SC:"))
sod=int(input("SOD:"))
pot=float(input("POT:"))
hrmo=float(input("HRMO:"))
pcv=int(input("PCV:"))
wc=float(input("WC:"))
rc=float(input("RC:"))
sg_b=int(input("SG_B:"))
sg_c=float(input("SG_C:"))
sg_d=float(input("SG_D:"))
sg_e=int(input("SG_E:"))
rbc_normal=float(input("RBC_NORMAL:"))
pc_normal=float(input("PC_NORMAL:"))
pcc_present=int(input("PCC_PRESENT:"))
ba_present=float(input("BA_PRESENT:"))
htn_yes=float(input("HTN_YES:"))
dm_yes=int(input("DM_YES:"))
cad_yes=int(input("CAD_YES:"))
appet_yes=float(input("APPET_YES:"))
pe_yes=float(input("PE_YES:"))
ane_yes=int(input("ANE_YES:"))

Age:5
Bp:3
AL:5
SU:6
BGR:7
BU:8
SC:6
SOD:7
POT:8
HRMO:5
PCV:6
WC:7
RC:8
SG_B:8
SG_C:9
SG_D:8
SG_E:9
RBC_NORMAL:1
PC_NORMAL:2
PCC_PRESENT:3
BA_PRESENT:5
HTN_YES:1
DM_YES:1
CAD_YES:1
APPET_YES:1
PE_YES:1
ANE_YES:1

In [24]:
Future_Prediction=grid.predict([[age, bp, al, su, bgr, bu, sc, sod, pot, hrmo, pcv,
       wc, rc, sg_b, sg_c, sg_d, sg_e, rbc_normal, pc_normal,
       pcc_present, ba_present, htn_yes, dm_yes, cad_yes,
       appet_yes, pe_yes, ane_yes]]) #change the parameter
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]